# For Loop In Python

In [1]:
a = "Rahul"
for x in a:
    print(x)

R
a
h
u
l

In [4]:
for x in a:
    print(x, end="\n")

R
a
h
u
l

In [5]:
#List
x = [23,45,56,78]
for i in x:
    print(i)

23
45
56
78

In [8]:
sum=0;
for i in x:
    sum+=i;
    print(sum)
print("Total: ",sum)

23
68
124
202
Total:  202

In [11]:
#Tuple
sum=1
x= (3,4,5,6,7,8)
for l in x:
    sum*=l
    print(sum)

3
12
60
360
2520
20160

In [12]:
#Range
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [16]:
for x in range(1,11):
    print("5 *",x, "=" , 5*x)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [17]:
list1= ['python','R','C++','C']
for x in range(len(list1)):
    print("Hello", list1[x])

Hello python
Hello R
Hello C++
Hello C

In [22]:
list2= ["Rahul", "Sangram", "Dillip","Banty"]
for x in list2:
    print(x)
    for it in x:
        print(it)

Rahul
R
a
h
u
l
Sangram
S
a
n
g
r
a
m
Dillip
D
i
l
l
i
p
Banty
B
a
n
t
y

In [23]:
for x in range(5):
    print(x)
else:
    print("always")

0
1
2
3
4
always

In [27]:
#break in for loop
for i in range(1,8):
    if(i==4):
        break
    print(i)

1
2
3

In [26]:
#continue in for loop
for i in range(1,8):
    if(i==4):
        continue
    print(i)

1
2
3
5
6
7

In [33]:
player_name ="Rohit5"
goals = {"Rahul": 5, "Sim": 6,"Rohit":10}
for players in goals:
    if(player_name==players):
        print(goals[players])
else:
    print("Invalid Player Name")

Invalid Player Name

In [34]:
num = [1,2,3,4,5,6,7,8,9]
cube =[]
for i in num:
    cube.append(i**3)
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [37]:
#pattern Printing
for i in range(0,5):
    for j in range(0,i+1):
        print("*", end="")
    print()

*
**
***
****
*****

# while Loop In Python

In [1]:
i=0;
while i<10:
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
while True:
    name= input("Enter Name:")
    if name=="rahul":
        break
    else:
        print("Wrong name")
print("thank you , You typed Correct Name")

Enter Name: real

Wrong name

Enter Name: ree

Wrong name

Enter Name: rahul

thank you , You typed Correct Name

In [5]:
#break
i=0
while i<10:
    i=i+1;
    if i==5:
        break
    print(i)

1
2
3
4

In [6]:
#continue
i=0
while i<10:
    i=i+1;
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [9]:
i=7
while i<10:
    i=i+1;
    if i==5:
        break
    print(i)
else:
    print(i, "greater than 10")

8
9
10
10 greater than 10

In [11]:
a=[1,2,3,4,5]
while a:
    print(a.pop())
else:
    print("Vanish")

5
4
3
2
1
Vanish

In [20]:
import random
n= random.randint(1,100)
print(n)
guess = int(input("Guess Number between 1 to 100"))
while n!="guess":
    if guess<n:
        print("Your guess is low")
        guess = int(input("Guess Number between 1 to 100"))
    elif guess>n:
        print("Your Guess is high:")
        guess = int(input("Guess Number between 1 to 100"))
    else:
        print("You Guess It Correctly")
        break

66

Guess Number between 1 to 100 67

Your Guess is high:

Guess Number between 1 to 100 78

Your Guess is high:

Guess Number between 1 to 100 66

You Guess It Correctly

# Nested Loop in python

In [23]:
list = ["mango","banana","apple","litchi"]
for i in list:
    print(i)
    for x in i:
        print(x, end="*")

mango
m*a*n*g*o*banana
b*a*n*a*n*a*apple
a*p*p*l*e*litchi
l*i*t*c*h*i*

In [24]:
color=["red","green","blue"]
items = ["apple","banana","litchi"]
for x in color:
    for y in items:
        print(x, y)

red apple
red banana
red litchi
green apple
green banana
green litchi
blue apple
blue banana
blue litchi

In [28]:
fruits =["apple","orange","kiwi"]
for fruit in fruits:
    count=0
    while count<6:
        print(fruit, end=" " )
        count=count+1
    print()

apple apple apple apple apple apple
orange orange orange orange orange orange
kiwi kiwi kiwi kiwi kiwi kiwi